<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" scale="1" />
           <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
         <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <title>Store</title>
    </head>
    <body>
    <div class=" text-white p-2" style="background-color:deepskyblue;font-family:'Book Antiqua';font-weight:700;">
        <span class="navbar-brand ml-2 " >Sports Store</span>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-4">
                </div>
        <div class="col-4">
            @RenderBody()
        </div>
    </body>
</html>