@model Product
<!--this is a partial-view used as a template to reduce duplication-->
<div class="card card-outline-primary m-1 p-3" style="">
    <div class="bg-faded p-1">
        <div class="card-body">
            <h5 class="card-title">
                @Model?.Name
                <span class="badge rounded-pill bg-primary text-white"
                      style="float:right">
                    <small>@Model?.Price.ToString("c")</small>
                </span>
            </h5>
            <div class="card-text p-1">@Model?.Description</div>
            <a href="/product/details/@Model?.ProductID" class="btn btn-primary">View Details</a>

        </div>
    </div>
</div>