@model ProductListViewModel

<div class="row">
    @foreach (var product in Model?.Products?? Enumerable.Empty<Product>())
    {
        <div class="col-md-4 mb-4">
            <div class="card" style="border-radius:20px;text-align:center">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <p class="text-muted">$@product.Price<span>EGP</span></p>
                    <a href="/product/details/@product.ProductID" class="btn btn-primary">View Details</a>

                </div>
            </div>
        </div>
    }
    <div page-model="@Model?.PageInfo" page-action="Index"></div>

</div>